*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-size: 12px;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    
}
.left-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-left: 2px solid white;
    background-color: black;
    color: white;
    
}
.left-section img{
    margin-right: 5px;
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.store{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    margin-right: 8px;
    border-right: 2px solid white;
}
.contact{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 8px;
   
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.athin{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.x-mas-img{
    width: 100%;
}


.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
}
.product{
    padding-left:15px;
    padding-right: 5px;
}
.new-arrivals{
    padding-left:15px;
    padding-right: 5px;
}
.special-size{
    padding-left:15px;
    padding-right: 5px;
}
.sales{
    color: red;
    padding-left:20px;
    padding-right: 15px;
}
.gift-cards{
    padding-left: 20px;
    padding-right: 15px;
}
.search{
    font-size: 25px;
    color:rgb(185, 170, 170);
}
.images{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.a{
padding-left: 0%;

}

.b{
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
}
.men{
    padding-left: 50px;
    justify-content: center;
}
.C{
    padding-left: 60px;
    justify-content: center;
}
.winter-ware{
    padding-left: 30px;
    justify-content: center;
}

.d{
    padding-left: 60px;
    justify-content: center;
}
.girls{
    padding-left: 50px;
    justify-content: center;
}
.e{
    padding-left: 60px;
    justify-content: center;
}
.women{
    padding-left: 50px;
    justify-content: center;
}
.f{
    padding-left: 50px;
    justify-content: center;
}
.new-arrivals{
    padding-left: 25px;
    justify-content: center;
}